<!DOCTYPE html>
<html>
<head>
  <title>NfgJwtTokenSecurity</title>
  <%= stylesheet_link_tag    "nfg_jwt_token_security/application", media: "all" %>
  <%= javascript_include_tag "nfg_jwt_token_security/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
